@page "/Report/prn_notier_iscriz_pa_N_NOSIGN.asp"
@inject eProcurementNext.Session.ISession session;
@using eProcurementNext.CommonDB
@using eProcurementNext.CommonModule;
@using static eProcurementNext.CommonModule.Basic;
@using eProcurementNext.BizDB;
@using eProcurementNext.HTML;
@using eProcurementNext.Application;
@using Microsoft.VisualBasic
@using System.Globalization
@using static eProcurementNext.CommonDB.Basic;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.DOCUMENT.print_documentModel;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.DOCUMENT.CommonModel;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.functions.securityModel;
@using static eProcurementNext.Razor.Pages.Report.prn_notier_iscriz_pa_N_NOSIGNModel;
@using static eProcurementNext.Session.SessionMiddleware;
@model eProcurementNext.Razor.Pages.Report.prn_notier_iscriz_pa_N_NOSIGNModel
@{
	CommonDbFunctions cdf = new();
	LoadSession(HttpContext, session);
	EprocResponse htmlToReturn = new();
	var sqlParams = new Dictionary<string, object?>();
	objDoc = PrintDocument(session, htmlToReturn, HttpContext, Response, Request);//PrintDocument ok
	string IDDOC = objDoc.mp_IDDoc;
}
@{
	//'/application/ctl_library/pdf/pdf.asp?URL=/report/busta_offerta.asp?&IDDOC=67613&TYPEDOC=OFFERTA

	string idDoc = GetParamURL(Request.QueryString.ToString(), "IDDOC");

	htmlToReturn.Write($@"
	<!DOCTYPE html PUBLIC ""-//W3C//DTD XHTML 1.0 Strict//EN"" ""http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"">
	<html>
	<head>

		<meta http-equiv=""Content-Type"" content=""text/html; charset=utf-8"">
		<title>Notier Iscriz</title>

	</head>

	<body style=""margin:10px; text-align: justify;"">

	<style type=""text/css"">
		BODY,DIV ,TABLE, TD {{
		 font-family:'Arial','Times New Roman',serif;
		 font-size:14pt;
		 font-style:normal;
		 font-weight:normal


		}}
		.Input
		{{
		 font-family:'Arial','Times New Roman',serif;
		 font-size:14pt;
		 font-style:normal;
		 font-weight:bold

		}}

		.TITLE{{
		 font-family:'Arial','Times New Roman',serif;
		 font-size:14pt;
		 font-style: bold;
		 font-weight:bold
		}}

		@media print
		  {{
		  #Ricevuta {{}}
		  }}

		  @media screen
		  {{
		  #Ricevuta {{}}
		  }}

		 ul li, table ul li {{ list-style-type:none; }} 	

		.size1
		{{
			FONT-SIZE: 14pt;
			FONT-FAMILY: Arial
		}}

	</style>

	<div style=""text-align: center;text-align:justify"">");

	string id = GetParamURL(Request.QueryString.ToString(), "IDDOC");

	validate("IDDOC", id, TIPO_PARAMETRO_INT, SOTTO_TIPO_VUOTO, "", 1, HttpContext, session);
	sqlParams.Clear();
	sqlParams.Add("@id", CInt(id));
	string strSQL = "select RIC_CF, RIC_CARICA_SOCIALE, AZI_RAG_SOC, AZI_FORMA_GIURIDICA, AZI_INDIRIZ_E_CIVICO_SEDE, AZI_COMUNE_SEDE, AZI_PROV_SEDE, AZI_STATO_SEDE, AZI_CAP_SEDE, AZI_CF, AZI_PIVA, ResponsabilePeppol,RIC_NOME_COGNOME_FIRMATARIO_SIGN, RIC_NOME_COGNOME_FIRMATARIO from VIEW_PDF_NOTIER_ISCRIZ_PA where id = @id";

	TSRecordSet? rs = cdf.GetRSReadFromQuery_(strSQL, ApplicationCommon.Application.ConnectionString, sqlParams);

	string pfuCodiceFiscale = string.Empty;
	string pfuRuoloAziendale = string.Empty;
	string aziRagioneSociale = string.Empty;
	string AZI_FORMA_GIURIDICA = string.Empty;
	string AZI_INDIRIZ_E_CIVICO_SEDE = string.Empty;
	string AZI_COMUNE_SEDE = string.Empty;
	string AZI_PROV_SEDE = string.Empty;
	string AZI_STATO_SEDE = string.Empty;
	string AZI_CAP_SEDE = string.Empty;
	string AZI_CF = string.Empty;
	string AZI_PIVA = string.Empty;
	int ResponsabilePeppol = 0;
	string RIC_NOME_COGNOME_FIRMATARIO_SIGN = string.Empty;
	string RIC_NOME_COGNOME_FIRMATARIO = string.Empty;

	if (rs is not null && rs.RecordCount > 0) 
	{
		rs.MoveFirst();
		pfuCodiceFiscale = CStr(rs["RIC_CF"]);
		pfuRuoloAziendale = CStr(rs["RIC_CARICA_SOCIALE"]);
		aziRagioneSociale = CStr(rs["AZI_RAG_SOC"]);
		AZI_FORMA_GIURIDICA = CStr(rs["AZI_FORMA_GIURIDICA"]);
		AZI_INDIRIZ_E_CIVICO_SEDE = CStr(rs["AZI_INDIRIZ_E_CIVICO_SEDE"]);
		AZI_COMUNE_SEDE = CStr(rs["AZI_COMUNE_SEDE"]);
		AZI_PROV_SEDE = CStr(rs["AZI_PROV_SEDE"]);
		AZI_STATO_SEDE = CStr(rs["AZI_STATO_SEDE"]);
		AZI_CAP_SEDE = CStr(rs["AZI_CAP_SEDE"]);
		AZI_CF = CStr(rs["AZI_CF"]);
		AZI_PIVA = CStr(rs["AZI_PIVA"]);
		ResponsabilePeppol = CInt(rs["ResponsabilePeppol"]!);
		RIC_NOME_COGNOME_FIRMATARIO_SIGN = CStr(rs["RIC_NOME_COGNOME_FIRMATARIO_SIGN"]);
		RIC_NOME_COGNOME_FIRMATARIO = CStr(rs["RIC_NOME_COGNOME_FIRMATARIO"]);

		if (string.IsNullOrEmpty(RIC_NOME_COGNOME_FIRMATARIO_SIGN)) 
		{
			RIC_NOME_COGNOME_FIRMATARIO_SIGN = RIC_NOME_COGNOME_FIRMATARIO;
		}
	}

	htmlToReturn.Write($@"
	<center>
			<table border=0 style=""width: 800px; height: 1300px;"">"
						);
	Header();
	htmlToReturn.Write($@"<tr>		
						<td align=""top"" valign=""top"">

							<p align=""justify"">

								Il sottoscritto " + PrintField(DOC_Field("DOCUMENT", "IdPfu")) + $@" nato a " + PrintField(DOC_Field("FIRMATARIO", "LocalitaRapLeg")) + $@", Provincia " + PrintField(DOC_Field("FIRMATARIO", "ProvinciaRapLeg")) + $@" Stato " + PrintField(DOC_Field("FIRMATARIO", "StatoRapLeg")) +
									$@" il " + PrintField(DOC_Field("FIRMATARIO", "DataRapLeg")) + $@", Codice Fiscale " + PrintField(pfuCodiceFiscale) + $@", in qualit&agrave; di Referente Incaricato ");


	htmlToReturn.Write($@"per l'Ente " + PrintField(aziRagioneSociale) +
	$@" con sede legale in via " + PrintField(AZI_INDIRIZ_E_CIVICO_SEDE) + $@" Comune " + PrintField(AZI_COMUNE_SEDE) + $@" Provincia " + PrintField(AZI_PROV_SEDE) +
	$@" Stato " + PrintField(AZI_STATO_SEDE) + $@" CAP " + PrintField(AZI_CAP_SEDE) +

				$@"</p>

							<br/>

							<center><h2>CONSAPEVOLE CHE</h2></center>

							<p align=""justify"">

							<ol type=""inherit"">

								<li>
									nel rispetto della Legge regionale n. 11/2004, così come modificata dalla legge regionale n. 17/2013, la Regione Emilia-Romagna promuove e gestisce il Sistema regionale per la dematerializzazione del Ciclo Passivo degli acquisti (SiCiPa-ER) in materia di emissione, trasmissione, ricevimento, conservazione ed archiviazione dei documenti di acquisto in forma elettronica, affidando all’Agenzia Intercent-ER lo svolgimento delle attività strumentali e connesse per sviluppare e promuovere tale processo di dematerializzazione nei confronti delle Pubbliche Amministrazioni di cui all’art. 19, comma 5, della Legge regionale 11/2004 e s.m.i.;
								</li>

								<li>
									lo strumento tecnologico adottato da Intercent-ER per la gestione e lo scambio dei documenti di cui al punto precedente &egrave; NoTI-ER (<i>Nodo Telematico di Interscambio dell’Emilia-Romagna</i>), che assicura l'inoltro ed il ricevimento di documenti validati e conformi agli standard e alle regole tecniche europee e statali;
								</li>

								<li>
									Intercent-ER agisce come Access Point Provider (AP) e Service Metadata Provider (SMP) per i servizi PEPPOL in virtù dell’Accordo TIA (<i>Transport Infrastructure Agreement</i>) sottoscritto con la PEPPOL Authority Italiana AgID. Di seguito i riferimenti dei Contact Point riportati nell’accordo:

									<ol style=""list-style-type: circle;"" type=""circle"">
										<li>
											E-mail del Contact Point OpenPEPPOL: <a href=""mailto:peppol@agid.gov.it"">peppol@agid.gov.it</a>
										</li>
										<li>
											E-mail del Contact Point dell’AP / SMP Provider Intercent-ER: <a href=""mailto:apintercenter@regione.emilia-romagna.it"">apintercenter@regione.emilia-romagna.it</a>
										</li>
									</ol>

								</li>

								<!--
								<li>
									Intercent-ER agisce tramite NoTI-ER come intermediario accreditato sul Sistema di Interscambio (SdI) in applicazione del Decreto del Ministero dell'Economia e delle Finanze 3 aprile 2013, n. 55 per la fatturazione elettronica;
								</li>
								-->

								<li>
									Intercent-ER agisce tramite NoTI-ER come intermediario PEPPOL per l'invio e la ricezione degli ordini in formato elettronico sul Nodo di Smistamento degli Ordini (NSO), in base alla legge di bilancio 2018, commi 411-415 e al Decreto MEF del 7 dicembre 2018.
								</li>

							</ol>

							</p>

						</td>

					</tr>
				</table> </center>");

	PrintPagina();

	htmlToReturn.Write($@"<center> <table border=0 style=""width: 800px; height: 1300px;"">

					<tr>

						<td align=""top"" valign=""top"">

							<br/><br/>

							<center><h2>DICHIARA</h2></center>

							<p align=""justify"">

							ai sensi e per gli effetti dell’art. 76 D.P.R. 445/2000, consapevole della responsabilità e delle conseguenze civili e penali previste in caso di dichiarazioni mendaci e/o formazione od uso di atti falsi, nonché in caso di esibizione di atti contenenti dati non più corrispondenti a verità e consapevole, altresì, che qualora emerga la non veridicità del contenuto della presente dichiarazione la scrivente Ditta decadrà dai benefici per i quali la stessa &egrave; rilasciata,
							<br/>

							<ol type=""a"">

								<li>
									di essere dotato dei poteri necessari a richiedere un utenza idonea ad operare per conto dell'ente, a rendere le relative dichiarazioni ed a fruire dei servizi di interscambio documentale messi a disposizione dalla Regione Emilia-Romagna per mezzo dell’Agenzia Intercent-ER;
								</li>
								<!--
								<li>
									che non intende avvalersi di terzi intermediari (Access Point Provider) per l’accesso all’infrastruttura di trasporto PEPPOL;
								</li>

								<li>
									di aver letto e di accettare integralmente i contenuti del “Regolamento per l’utilizzo dei servizi del nodo telematico di interscambio della Regione Emilia-Romagna (NoTI-ER)”, nonché dei documenti ad esso connessi di cui alla sezione “Dematerializzazione acquisti” del sito internet di Intercent-ER: <a href=""http://intercenter.regione.emilia-romagna.it/noti-er-fatturazione-elettronica/specifiche-tecniche"">http://intercenter.regione.emilia-romagna.it/noti-er-fatturazione-elettronica/specifiche-tecniche</a>;
								</li>
								-->
								<li>
									che tutte le informazioni e i dati riportati nella presente dichiarazione sono veritiere ed attuali e di impegnarsi a comunicare tempestivamente ogni variazione rispetto a quanto dichiarato nella presente istanza, assumendosene la responsabilità;
								</li>

								<li>
									di aver letto e di accettare integralmente i contenuti del “Regolamento per l’utilizzo dei servizi del nodo telematico di interscambio della Regione Emilia-Romagna (NoTI-ER)”, nonché dei documenti ad esso connessi di cui alla sezione “Dematerializzazione acquisti” del sito internet di Intercent-ER: http://intercenter.regione.emilia-romagna.it/noti-er-fatturazione-elettronica/specifiche-tecniche;
								</li>

								<li>
									di essere stato informato, ai sensi e per gli effetti dell’art. 13 del Regolamento europeo n. 679/2016 e dell’art. 10 del D.Lgs. n. 51/2018, che i dati personali raccolti saranno trattati, anche con strumenti informatici, nell'ambito del procedimento per il quale la presente dichiarazione viene resa;
								</li>

								<li>
									di essere a conoscenza delle norme che regolamentano l’emissione, la trasmissione e il ricevimento della fatturazione elettronica di cui al D.M. n. 55 del 3 aprile 2013 e ss.mm.ii;
								</li>

								<li>
									di essere a conoscenza delle norme che regolamentano l’emissione, la trasmissione e il ricevimento dei documenti attestanti l’ordinazione elettronica di cui al Decreto del Ministero dell’economia e delle Finanze del 7 dicembre 2018 2018;
								</li>

							</ol>

							</p>

						</td>

					</tr>

				</table> </center>");


	PrintPagina();


	htmlToReturn.Write($@"<table margin=""10px"">
				<center>
					<tr>

						<td align=""top"" valign=""top"">

							<br/><br/>

							<center><h2>E RICHIEDE</h2></center>

							<p align=""justify"">

								<ol style=""list-style-type: circle;"">
									<!--
									<li>
										<strong>l'iscrizione ai servizi NoTI-ER in forma semplificata in nome e per conto dell'Ente;</strong>
									</li>
									-->
									<li>
										<strong>l'attivazione di un utenza per il servizio semplificato per la gestione dei documenti Peppol reso disponibile tramite la Piattaforma SATER, in conformità con gli standard PEPPOL reperibili sul sito <a href=""http://intercenter.regione.emilia-romagna.it/noti-er-fatturazione-elettronica/specifiche-tecniche"">http://intercenter.regione.emilia-romagna.it/noti-er-fatturazione-elettronica/specifiche-tecniche</a>, che prevede:</strong>
									</li>

								</ol>

							</p>

						</td>

					</tr>
				</center>");

	//'--PIE DI PAGINA
	//'call footer
	sqlParams.Clear();
	sqlParams.Add("@id", CInt(id));
	
	if (ResponsabilePeppol == 1)
	{
		strSQL = "select * from VIEW_NOTIER_ISCRIZ_PA_XML where id = @id";
	}
	else 
	{
		sqlParams.Add("@dse_id", "IPA");
		sqlParams.Add("@name", "SelRow");
		strSQL = "select v.* from CTL_DOC_VALUE a with(nolock) inner join VIEW_NOTIER_ISCRIZ_PA_XML v on v.Id = a.IdHeader and v.IpaRow = a.Row where a.IdHeader = @id and a.DSE_ID = @dse_id and a.DZT_Name =@name and a.value = '1'";
	}

	TSRecordSet? rsIPA = cdf.GetRSReadFromQuery_(strSQL, ApplicationCommon.Application.ConnectionString,sqlParams);

	if (rsIPA is not null && rsIPA.RecordCount > 0)
	{
		rsIPA.MoveFirst();
		for (int i = 0; i < rsIPA.RecordCount - 1; i++) 
		{
			printTabellaIPA(rsIPA);

			rsIPA.MoveNext();
		}
	}

	htmlToReturn.Write($@"<center> <tr>

				<td>

					<!-- <ol start=""4""> -->
					<ol style=""list-style-type: inherit;"">

						<p align=""justify"">

						<li>
							<p align=""left"">
								la registrazione del participant ID Peppol assegnato all’Ente sull'SMP Unico delle PA cui verranno assegnate le capacità di ricezione Peppol per i documenti indicati sopra, oltre alla sua registrazione anche nelle Rubrica degli indirizzi Peppol denominata ""Peppol Directory"";
							</p>
						</li>
						<li>
							<p align=""left"">						
								la visualizzazione e il download che avverrà esclusivamente tramite piattaforma SATER dei documenti di cui l’Ente &egrave; destinatario utilizzando il Participant ID PEPPOL assegnato all’Ente medesimo a seguito della sottoscrizione del presente modulo;
							</p>
						</li>
						<li>
							<p align=""left"">
								la trasmissione in formato elettronico e l'invio su rete Peppol dei documenti indicati nella tabella soprariportata che avverrà esclusivamente tramite il sistema SATER e la sua integrazione applicativa con il sistema NOTIER, entrambi gestiti da Intercent-ER.
							</p>
						</li>

						</p>

					</ol>

				</td>

			</tr>

			<tr>
				<td>
					<br/>

					<p align=""right"">
						Firmato Digitalmente
						<br/>"
				+ PrintField(RIC_NOME_COGNOME_FIRMATARIO_SIGN) +
							$@"</p>

				</td>
			</tr>

			</center>
		</table>	

	
	</div>
	</body>
	</html>");


	void printTabellaIPA(TSRecordSet rsIPA) 
	{
		string strIPA = CStr(rsIPA["UFF_CodiceIPA"]);
		if (strIPA == "CODICE_FISCALE") 
		{
			strIPA = "";
		}

		htmlToReturn.Write($@"
	<table border=1>
		<tr>
			<td>Denominazione Ufficio:</td>
			<td colspan=2>" + CStr(rsIPA["UFF_Denominazione"]) + $@"</td>
		</tr>
		<tr>
			<td>Indirizzo Ufficio:</td>
			<td colspan=2>" + CStr(rsIPA["UFF_Indirizzo"]) + $@"</td>
		</tr>
		<tr>
			<td>Codice Univoco Ufficio IPA:</td>
			<td colspan=2>" + strIPA + $@"</td>
		</tr>
		<tr>
			<td>Referente ufficio:</td>
			<td colspan=2>" + CStr(rsIPA["UFF_Referente"]) + $@"</td>
		</tr>
		<tr>
			<td>e-mail Referente ufficio:</td>
			<td colspan=2>" + CStr(rsIPA["UFF_EmailReferente"]) + $@"</td>
		</tr>
		<tr>
			<td>Telefono ufficio:</td>
			<td colspan=2>" + CStr(rsIPA["UFF_Telefono"]) + $@"</td>
		</tr>

		<tr>
			<th>Tipo Documento</th>
			<th>Invio</th>
			<th>Ricezione</th>
		</tr>

		<tr>
			<td>Ordine (formato PEPPOL BIS 3A)</td>
			<td>");
		sceltaPeppol(CStr(rsIPA["UFF_Peppol_Invio_Ordine"]));
		htmlToReturn.Write($@"</td>
			<td>");
		sceltaPeppol(CStr(rsIPA["UFF_Peppol_Ricezione_Ordine"]));
		htmlToReturn.Write($@"</td>
		</tr>

		<tr>
			<td>Documento di trasporto (formato PEPPOL BIS 30A)</td>
			<td>");
		sceltaPeppol(CStr(rsIPA["UFF_Peppol_Invio_DDT"]));
		htmlToReturn.Write($@"</td>
			<td>");
		sceltaPeppol(CStr(rsIPA["UFF_Peppol_Ricezione_DDT"]));
		htmlToReturn.Write($@"</td>
		</tr>

		<tr>
			<td>Fattura/Nota di credito (formato PEPPOL BIS 3A)</td>
			<td>");
		sceltaPeppol(CStr(rsIPA["UFF_Peppol_Invio_Fatture"]));
		htmlToReturn.Write($@"</td>
			<td></td>");
	
		htmlToReturn.Write($@"</td>
		</tr>


	</table>

	<br/>");

	}

	void PrintPagina()
	{
		htmlToReturn.Write($@"<div style=""page-break-after: always""></div>");
	}

	void sceltaPeppol(string valCheck) 
	{
		if (valCheck == "1") 
		{
			htmlToReturn.Write($@"<center>X</center>");
		}
	}

	string PrintField(string field) 
	{
		return $@"<strong><span style=""text-transform:uppercase"">{field}</span></strong>";
	}

	void Header()
	{
		htmlToReturn.Write($@"<br/><br/>");

		string imgHeader = ApplicationCommon.CNV("HEADER_STAMPE");

		if (imgHeader.Contains("???", StringComparison.Ordinal))
		{
			htmlToReturn.Write($@"<tr><td align=""center"" valign=""top"" ><img height=""50px"" src=""logo_new.gif"" border=""0"" alt=""" + ApplicationCommon.CNV("ALT LOGO LOGO") + $@"""");
		}
		else
		{
			htmlToReturn.Write(imgHeader);
		}
		htmlToReturn.Write($@"<tr><td align=""center"" valign=""top"">Richiesta di registrazione al Servizio semplificato per la gestione Ordini e <br/>Documenti di Trasporto (DDT) PEPPOL</td></tr>");
		htmlToReturn.Write($@"<tr><td align=""right"" valign=""top"">All'Agenzia Intercent-ER</td></tr>");
	}

	try
	{
		FreeMemDocument(session);
	}
	catch
	{
		
	}
}
@Html.Raw(htmlToReturn.Out())