@page "/Report/Ordine_da_ODC.asp"
@inject eProcurementNext.Session.ISession session;
@using eProcurementNext.CommonDB
@using eProcurementNext.CommonModule;
@using static eProcurementNext.CommonModule.Basic;
@using eProcurementNext.BizDB;
@using eProcurementNext.HTML;
@using eProcurementNext.Application;
@using Microsoft.VisualBasic
@using System.Globalization
@using static eProcurementNext.CommonDB.Basic;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.DOCUMENT.print_documentModel;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.DOCUMENT.CommonModel;
@using static eProcurementNext.Razor.Pages.Report.Ordine_da_ODCModel;
@model eProcurementNext.Razor.Pages.Report.Ordine_da_ODCModel
@using static eProcurementNext.Session.SessionMiddleware
@{

	CommonDbFunctions cdf = new();
	LoadSession(HttpContext, session);
	EprocResponse htmlToReturn = new();

	objDoc = PrintDocument(session, htmlToReturn, HttpContext,Response,Request);//PrintDocument ok
	string IDDOC = objDoc.mp_IDDoc;
	Dictionary<string, object> SqlParameters = new Dictionary<string, object>();
}
@{
	htmlToReturn.Write("<html>");
	dynamic F(dynamic v )
	{
		v = CStr(v);
		if(Strings.InStr( 1, CStr(0.5) , "." ) > 0 )
		{
			v = v.Replace(".","A");
			v = v.Replace(",",".");
			v = v.Replace("A", ",");

		}

		return v;
	}
	double mcdbl(dynamic v )
	{
		if (Strings.InStr( 1, CStr(0.5) , "." ) > 0 )
		{
			v = v.Replace(",", ".");
		}
		else
		{
			v = v.Replace(".", ",");
		}


		return CDbl(v);
	}
	dynamic FormatN(dynamic v )
	{
		return F(Strings.FormatNumber(v, 3));
	}
	htmlToReturn.Write($@"
	<STYLE>
	BODY
	{{	FONT - WEIGHT: bolder;
			FONT-SIZE: 10pt;
			FONT-FAMILY: Arial
	}}
	TABLE
	{{	FONT - WEIGHT: bolder;
		FONT-SIZE: 10pt;
			FONT-FAMILY: Arial
	}}

	.size1
	{{
		FONT - SIZE: 10pt;
			FONT-WEIGHT: lighter;
			FONT-FAMILY: Arial
	}}

	.FontA
	{{	FONT - SIZE: 10pt;
			FONT-FAMILY: Arial
	}}

	.FontR
	{{	FONT - SIZE: 10pt;
			FONT-WEIGHT: lighter;
			FONT-FAMILY: Arial
	}}

	.size2
	{{		FONT - SIZE: 14pt;
			FONT-FAMILY: Arial
	}}

	.size5
	{{		FONT - SIZE: 16pt;
			FONT-FAMILY: Arial
	}}

	.BORD
	{{		BORDER - RIGHT: black 1px solid;
			BORDER-TOP: black 1px solid;
			BORDER-LEFT: black 1px solid;
			BORDER-BOTTOM: black 1px solid 
	}}


	.L
	{{		BORDER - TOP: black 1px solid;
			BORDER-LEFT: black 1px solid;
			BORDER-RIGHT: black 1px solid;
			BORDER-BOTTOM: black 1px solid 
	}}

	.C
	{{		BORDER - TOP: black 1px solid;
			BORDER-BOTTOM: black 1px solid;
			BORDER-RIGHT: black 1px solid;

	}}

	.L2
	{{		BORDER - LEFT: black 1px solid;
			BORDER-RIGHT: black 1px solid;
			BORDER-BOTTOM: black 1px solid 
	}}

	.C2
	{{		BORDER - BOTTOM: black 1px solid;
			BORDER-RIGHT: black 1px solid;

	}}

	.R
	{{		BORDER - RIGHT: black 1px solid;
			BORDER-TOP: black 1px solid;
			BORDER-BOTTOM: black 1px solid 
	}}

	.FldPubLeg_Tab{{FONT - SIZE: 12pt;
			FONT-FAMILY: Arial

	}}
	</STYLE>");
	TSRecordSet rsA = null;
	dynamic bATI;
	string strSQL = "";
	SqlParameters.Add("@id", DOC_FieldTecnical("TESTATA", "IdAziDest"));
	rsA = cdf.GetRSReadFromQuery_("select * from aziende where idazi = @id", ApplicationCommon.Application.ConnectionString, SqlParameters);
	//'-- recupero i dati base 
	SqlParameters.Clear();
	SqlParameters.Add("@nome", "codicefiscale");
	SqlParameters.Add("@lnk", DOC_FieldTecnical("TESTATA", "IdAziDest"));
	TSRecordSet rsB = cdf.GetRSReadFromQuery_("select  * from dbo.DM_Attributi where idApp = 1 and dztnome = @nome and lnk =  @lnk", ApplicationCommon.Application.ConnectionString, SqlParameters);
	htmlToReturn.Write($@"
	<head>
	<meta http-equiv=""Content-Type"" content=""text/html; charset=utf-8"">
	<title>" + ApplicationCommon.CNV("ML_NOMEPORTALE") + $@"</title>
	</head>

	<body>
		<TABLE cellSpacing=1 cellPadding=1 width=""100%"" height=""100%""  border=0>

		  <TR>

		    <TD width=""5%"">&nbsp;</TD>
		    <TD width=""90%"" valign=""top"">


		<!-- Intestazione ENTE -->



			<TABLE cellSpacing=1 cellPadding=1 width=""100%"" border=0 >
			  <TR>
			    <TD width=""70%"">");
	//'DOC_PubLegalePlant "TESTATA","Plant" 
	//'--recupero azienda ente
	string[] ainfo = null;
	string strAziPlant = "";
	ainfo = DOC_FieldTecnical("TESTATA", "Plant").Split("#");
	strAziPlant = ainfo[0];
	PubLegaleAZI(strAziPlant, "1111",htmlToReturn);
	htmlToReturn.Write($@"
	  </TD>
		  <TD>
			&nbsp;
		  </TD>
		  <TD >&nbsp;</TD>
		 </TR>
		</TABLE>");
	htmlToReturn.Write($@"<!-- Intestazione FORNITORE -->");
	htmlToReturn.Write($@"
	<TABLE cellSpacing=1 cellPadding=1 width=""100%"" border=0 class=""FldPubLeg_Tab"">
		   
		   <TR>
		     <TD width=""70%"">&nbsp;</TD>
		     <TD vAlign=top width=""5%"" nowrap >"+ApplicationCommon.CNV("Spett. le")+$@"</TD>
		     <TD width=""25%"" nowrap >
		       "+GetValueFromRS(rsA.Fields["aziRagionesociale"])+$@"<br>
		       C.F "+GetValueFromRS(rsB.Fields["vatValore_FV"])+$@"<br>
		       P.IVA "+GetValueFromRS(rsA.Fields["aziPartitaIVA"])+$@"<br>
		       "+GetValueFromRS(rsA.Fields["aziIndirizzoLeg"])+$@"<br>
		       "+GetValueFromRS(rsA.Fields["aziCAPLeg"])+$@"&nbsp;"+GetValueFromRS(rsA.Fields["aziLocalitaLeg"])+$@"&nbsp;"+GetValueFromRS(rsA.Fields["aziProvinciaLeg"])+$@"&nbsp;
		       </TD>
		    </TR>
		</TABLE>");
	htmlToReturn.Write($@"<!-- ORDINA -->");

	htmlToReturn.Write($@"<!--DIV align=center>
	<b><font class=""size5""><br>
	<DIV align=center><B><FONT class=size5> IL " + Strings.UCase(DOC_Field( "TESTATA", "pfuRuoloAziendale" )) + $@"</FONT></B> <br>
	<B><FONT class=size5>" + ApplicationCommon.CNV("ORDINA") + $@"</FONT></B></DIV>
	<br>
	</DIV-->");
	htmlToReturn.Write($@"
		<br><br>
		<DIV style=""text-align : justify"">

		<font class=""size1""  >
			<i>" + ApplicationCommon.CNV("La fornitura descritta di seguito") + $@"&nbsp;" + DOC_Field("TESTATA", "RDA_Object") + $@"." + DOC_Field_Label("TESTATA", "NumeroConvenzione") + $@"&nbsp;" + DOC_Field("TESTATA", "NumeroConvenzione") + $@"
			<br>" + ApplicationCommon.CNV("La fornitura deve essere effetuata secondo i termini") + $@"<br>
			</i>
		</font >
		<font class=""FontA""  >");
	if(!string.IsNullOrEmpty(DOC_Field( "TESTATA", "RefOrd" ).Trim()) ||!string.IsNullOrEmpty(DOC_Field( "TESTATA", "RefOrdInd" ).Trim())  || !string.IsNullOrEmpty(DOC_Field( "TESTATA", "RefOrdTel" ).Trim())  || !string.IsNullOrEmpty(DOC_Field( "TESTATA", "RefOrdEMail" ).Trim()))
	{
		// 'if trim(DOC_Field( "TESTATA", "RefOrd" )) <> "" or trim(DOC_Field( "TESTATA", "RefOrdInd" )) <> "" or trim(DOC_Field( "TESTATA", "RefOrdTel" )) <> "" then

		htmlToReturn.Write($@"
		<br>
			Referente Ordine: " + DOC_Field("TESTATA", "RefOrd") + $@"<br>
			Indirizzo: " + DOC_Field("TESTATA", "RefOrdInd") + $@" <br>
			Tel: " + DOC_Field("TESTATA", "RefOrdTel") + $@"  &nbsp; E-mail: " + DOC_Field("TESTATA", "RefOrdEMail") + $@"<br>");
	}
	if(!string.IsNullOrEmpty(DOC_Field( "TESTATA", "ReferenteConsegna" ).Trim()) || !string.IsNullOrEmpty(DOC_Field( "TESTATA", "ReferenteIndirizzo" ).Trim())   || !string.IsNullOrEmpty( DOC_Field( "TESTATA", "ReferenteTelefono" ).Trim())  || !string.IsNullOrEmpty( DOC_Field( "TESTATA", "ReferenteEMail" ).Trim()))
	{
		htmlToReturn.Write($@"
		<br>
			Referente Consegna: " + DOC_Field("TESTATA", "ReferenteConsegna") + $@"<br>
			Indirizzo: " + DOC_Field("TESTATA", "ReferenteIndirizzo") + $@" <br>
			Tel: " + DOC_Field("TESTATA", "ReferenteTelefono") + $@" &nbsp; E-mail: " + DOC_Field("TESTATA", "ReferenteEMail") + $@"<br>");
	}
	if(!string.IsNullOrEmpty(DOC_Field( "TESTATA", "ReferenteRitiro" ).Trim()) || !string.IsNullOrEmpty( DOC_Field( "TESTATA", "IndirizzoRitiro" ).Trim()))
	{
		htmlToReturn.Write($@"
		<br>
			Referente Ritiro: " + DOC_Field("TESTATA", "ReferenteRitiro") + $@"<br>
			Indirizzo: " + DOC_Field("TESTATA", "IndirizzoRitiro") + $@"<br>");
	}
	htmlToReturn.Write($@"
		<br>
		<br>

		Ordinativo " + DOC_Field("TESTATA", "RDA_Protocol") + $@"&nbsp;&nbsp;&nbsp;&nbsp; Data " + DOC_Field("TESTATA", "RDA_DataCreazione") + $@"

		</font >

		</DIV>");
	htmlToReturn.Write($@"<!-- TABELLA PRODOTTI  -->");
	htmlToReturn.Write($@"
	<table border=""0"" width=""100%"" cellspacing=""0"">
		  <tr  >



		    <td width=""3%""  class=""L""  align=""center"" >" + DOC_FieldRow_Label("PRODOTTI", "RDP_CodArtProd") + $@"</td>
		    <td width=""35%"" class=""C""  align=""center"" >" + DOC_FieldRow_Label("PRODOTTI", "RDP_Desc") + $@"</td>
		    <td width=""35%"" class=""C""  align=""center"" >" + DOC_FieldRow_Label("PRODOTTI", "Nota") + $@"</td>");

	if(DOC_FieldTecnical( "TESTATA", "TipoOrdine" ) == "S")
	{
		htmlToReturn.Write($@"
		<td width=""5%"" class=""C""  align=""center"" >"+DOC_FieldRow_Label( "PRODOTTI", "QtMin" )+$@"</td>
		<td width=""15%"" class=""C""  align=""center"" >"+DOC_FieldRow_Label( "PRODOTTI", "RDP_Qt" )+$@"</td>");
	}
	else
	{
		if(DOC_FieldTecnical( "TESTATA", "TipoOrdine" ) == "P" )
		{
			htmlToReturn.Write($@"
			 <td width=""15%"" class=""C""  align=""center"" >" + DOC_FieldRow_Label("PRODOTTI", "RDP_Qt") + $@"</td>
		    <td width=""15%"" class=""C""  align=""center"" >" + DOC_FieldRow_Label("PRODOTTI", "PercSconto") + $@"</td>");
		}
		else
		{
			if(DOC_FieldTecnical( "TESTATA", "TipoOrdine" ) == "B")
			{
				htmlToReturn.Write($@"
				<td width=""15%"" class=""C""  align=""center"" >" + DOC_FieldRow_Label("PRODOTTI", "RDP_Qt") + $@"</td>
				<td width=""15%"" class=""C""  align=""center"" >" + DOC_FieldRow_Label("PRODOTTI", "PercSconto") + $@"</td>
				<td width=""15%"" class=""C""  align=""center"" >" + DOC_FieldRow_Label("PRODOTTI", "ImportoCompenso") + $@"</td>");
			}
			else
			{
				htmlToReturn.Write($@"
				<td width=""15%"" class=""C""  align=""center"" >" + DOC_FieldRow_Label("PRODOTTI", "RDP_Qt") + $@"</td>
 				 <td width=""15%"" class=""C""  align=""center"" >" + DOC_FieldRow_Label("PRODOTTI", "CoefCorr") + $@"</td>");
			}
		}
	}
	htmlToReturn.Write($@"
	<td width=""15%"" class=""C""  align=""center""  nowrap>" + DOC_FieldRow_Label("PRODOTTI", "RDP_Importo") + $@"</td>
	<td width=""2%"" class=""C""  align=""center"" nowrap>" + DOC_FieldRow_Label("PRODOTTI", "IVA") + $@"</td>"); 
	htmlToReturn.Write($@"<!--td width=""15%"" class=""R""  align=""center""  >Totale</td-->");
	htmlToReturn.Write($@"</tr>");
	int TotR = 0;
	int i = 0;

	int nr = 0;
	nr = DOC_NumRow("PRODOTTI", "");
	for(i = 0;i<nr-1;i++)
	{
		//'		if i < ubound( VetPage ) then
		//'			response.write  "<div style=""page-break-after : always""></div>"
		//'		end if
		//
		//'	next
		htmlToReturn.Write($@"
		 <tr>

	      <td class=""L2""><font  class=""FontR"" >");
		htmlToReturn.Write(DOC_FieldRowTecnical("PRODOTTI", "RDP_CodArtProd", i));
		htmlToReturn.Write($@"&nbsp;
		</font></td>
          <td  class=""C2"" ><font  class=""FontR"" >" + DOC_FieldRow("PRODOTTI", "RDP_Desc", i) + $@"&nbsp;</font></td>
          <td  class=""C2"" ><font  class=""FontR"" >" + DOC_FieldRow("PRODOTTI", "Nota", i) + $@"&nbsp;</font></td>");
		if( DOC_FieldTecnical( "TESTATA", "TipoOrdine" ) == "S")
		{
			htmlToReturn.Write($@"
			 <td  class=""C2"" align=""right""><font  class=""FontR"">" + DOC_FieldRow("PRODOTTI", "QtMin", i) + $@"&nbsp;</font></td>
			<td  class=""C2"" align=""right""><font  class=""FontR"">" + DOC_FieldRow("PRODOTTI", "RDP_Qt", i) + $@"&nbsp;</font></td>");
		}
		else
		{
			if(DOC_FieldTecnical( "TESTATA", "TipoOrdine" ) == "P" )
			{
				htmlToReturn.Write($@"
				   <td  class=""C2"" align=""right""><font  class=""FontR"">" + DOC_FieldRow("PRODOTTI", "RDP_Qt", i) + $@"&nbsp;</font></td>
				 <td  class=""C2"" align=""right""><font  class=""FontR"">" + DOC_FieldRow("PRODOTTI", "PercSconto", i) + $@"&nbsp;</font></td>");
			}
			else
			{
				if(DOC_FieldTecnical( "TESTATA", "TipoOrdine" ) == "B")
				{
					htmlToReturn.Write($@"
					   <td  class=""C2"" align=""right""><font  class=""FontR"">" + DOC_FieldRow("PRODOTTI", "RDP_Qt", i) + $@"&nbsp;</font></td>
					  <td  class=""C2"" align=""right""><font  class=""FontR"">" + DOC_FieldRow("PRODOTTI", "PercSconto", i) + $@"&nbsp;</font></td>
					  <td  class=""C2"" align=""right""><font  class=""FontR"">" + DOC_FieldRow("PRODOTTI", "ImportoCompenso", i) + $@"&nbsp;</font></td>");
				}
				else
				{
					htmlToReturn.Write($@"
					  <td  class=""C2"" align=""right""><font  class=""FontR"">" + DOC_FieldRow("PRODOTTI", "RDP_Qt", i) + $@"&nbsp;</font></td>
					<td  class=""C2"" align=""right""><font  class=""FontR"">" + DOC_FieldRow("PRODOTTI", "CoefCorr", i) + $@"&nbsp;</font></td>");
				}
			}
		}
		htmlToReturn.Write($@"
		 <td  class=""C2""  align=""right""><font  class=""FontR"">" + DOC_FieldRow("PRODOTTI", "RDP_Importo", i) + $@"&nbsp;</font></td>");
		//on error resume next
		TotR = 0;
		try
		{
			TotR = DOC_FieldRowTecnical("PRODOTTI", "RDP_Importo", i) * DOC_FieldRowTecnical("PRODOTTI", "RDP_Qt", i);
		}
		catch
		{

		}
		if(DOC_FieldTecnical( "TESTATA", "TipoOrdine" ) == "P")
		{
			TotR = TotR - (TotR * DOC_FieldRowTecnical("PRODOTTI", "PercSconto", i) / 100);
		}
		if( DOC_FieldTecnical( "TESTATA", "TipoOrdine" ) == "C" )
		{
			TotR = TotR * DOC_FieldRowTecnical("PRODOTTI", "CoefCorr", i);
		}
		TotR = FormatN(TotR);
		htmlToReturn.Write($@"
		&nbsp;
         <td  class=""C2""  align=""right"" nowrap><font  class=""FontR"" >&nbsp;"+DOC_FieldRow( "PRODOTTI", "IVA", i )+$@"&nbsp;</font></td>");
		htmlToReturn.Write($@"<!--td   class=""C2"" align=""right""><font  class=""FontR"">" + TotR + $@"&nbsp;</font></td-->");
		htmlToReturn.Write("</tr>");
	}
	htmlToReturn.Write($@"
	</table>
	 <TABLE  width=""100%"" border=0 class=""FontA"">	  
		<tr><td>&nbsp;</td></tr>	
		<tr>
			<td width=""5%"">&nbsp;</td>
			<td width=""30%"">&nbsp;</td>");
	if(DOC_FieldTecnical( "TESTATA", "TipoOrdine" ) == "S" || DOC_FieldTecnical( "TESTATA", "TipoOrdine" ) == "C" )
	{
		htmlToReturn.Write($@" <td width=""10%"">&nbsp;</td>");
	}
	htmlToReturn.Write($@"
	  <td width=""10%"">&nbsp;</td>
		    <td width=""10%"">&nbsp;</td>
		    <td width=""10%"">&nbsp;</td>
		    <td width=""15%"">&nbsp;</td>
		    <td width=""10%"" nowrap >"+DOC_Field_Label( "TESTATA", "RDA_Total" )+$@"</td>
		    <td width=""15%"" align=""right"">"+DOC_Field( "TESTATA", "RDA_Total" )+$@"</td>
		  </tr>");
	if (DOC_FieldTecnical( "TESTATA", "TipoOrdine" ) != "B")
	{
		htmlToReturn.Write($@"
		 <tr>
		    <td width=""5%"">&nbsp;</td>
		    <td width=""30%"">&nbsp;</td>");
		if(DOC_FieldTecnical( "TESTATA", "TipoOrdine" ) == "S" || DOC_FieldTecnical( "TESTATA", "TipoOrdine" ) == "C")
		{
			htmlToReturn.Write($@"<td width=""10%"">&nbsp;</td>");
		}
		htmlToReturn.Write($@"
		 <td width=""10%"">&nbsp;</td>
		<td width=""10%"">&nbsp;</td>
		<td width=""10%"">&nbsp;</td>
		<td width=""15%"">&nbsp;</td>
		<td width=""15%"" >IVA</td>
		<td width=""15%"" align=""right"">"+DOC_Field( "TESTATA", "ValoreIva" )+$@"</td>
		</tr>

		<tr>
		<td width=""5%"">&nbsp;</td>
		<td width=""30%"">&nbsp;</td>");
		if(DOC_FieldTecnical( "TESTATA", "TipoOrdine" ) == "S" || DOC_FieldTecnical( "TESTATA", "TipoOrdine" ) == "C" )
		{
			htmlToReturn.Write($@"<td width=""10%"">&nbsp;</td>");
		}
		htmlToReturn.Write($@"
			<td width=""10%"">&nbsp;</td>
		    <td width=""10%"">&nbsp;</td>
		    <td width=""10%"">&nbsp;</td>
		    <td width=""15%"">&nbsp;</td>
		    <td width=""15%"" nowrap >" + DOC_Field_Label("TESTATA", "TotalIva") + $@"</td>
		    <td width=""15%"" align=""right"">" + DOC_Field("TESTATA", "TotalIva") + $@"</td>
		  </tr>");
	}
	htmlToReturn.Write($@"
	 </table>
	 <br>
	 <br>");
	htmlToReturn.Write($@"<!-- CODA PAGINA  -->");
	htmlToReturn.Write($@"<DIV style=""text-align : justify"">");
	htmlToReturn.Write($@"<!--font class=""size1"" >
	<i>Si comunica, inoltre, che la spesa necessaria e' stata impegnata sul peg sopraindicato, 
	Impegno n. ");
	//'=DOC_Field( "TESTATA", "ImpegnoSpesa" )
	htmlToReturn.Write($@" Capitolo  ");
	//'=DOC_Field( "TESTATA", "Capitolo" )
	htmlToReturn.Write($@"
	<br>
	Detti dati dovranno essere riportati nella fattura che codesta impresa presentera' per la liquidazione
	della fornitura del materiale ordinato.

	</i>



	</font-->
	<!-- Firma del Dirigente -->");
	htmlToReturn.Write($@"
	<TABLE  width=""100%"" border=0 class=""FontA"">

        <TR border=0 class=""FontA"">
          <TD width=""80%"">&nbsp;</TD><br>
          <TD width=""20%"" nowrap >");
	SqlParameters.Clear();
	SqlParameters.Add("@idazi", strAziPlant);
	SqlParameters.Add("@idpfu", DOC_FieldTecnical("TESTATA", "RDA_Owner"));
	//'--se ordine compilato dall'ente metto il compilatore altrimenti se compilato dal gestore nulla
	TSRecordSet rsutente = cdf.GetRSReadFromQuery_("select * from profiliutente where pfuidazi =@idazi  and idpfu=@idpfu", ApplicationCommon.Application.ConnectionString, SqlParameters);
	if(rsutente.RecordCount >0)
	{
		htmlToReturn.Write(ApplicationCommon.CNV("F.to") + $@"<br>");
		htmlToReturn.Write(DOC_Field("TESTATA", "pfuNome"));

	}
	htmlToReturn.Write($@"
	 </TD>
         </TR>
     </TABLE>
		</DIV>


	</TD>

    <TD width=""5%"">&nbsp;</TD>

	</tr>

	</table>
	</body>");
	//'-- Testo aggiunto in automatico per liberare la memoria dei nuovi report
	try
	{
		FreeMemDocument(session);
	}
	catch
	{
		
	}


}@Html.Raw(htmlToReturn.Out())