@page "/Report/prn_Ritira_Risposta_Concorso.asp"
@inject eProcurementNext.Session.ISession session;
@using eProcurementNext.CommonDB
@using eProcurementNext.CommonModule;
@using static eProcurementNext.CommonModule.Basic;
@using eProcurementNext.BizDB;
@using eProcurementNext.HTML;
@using eProcurementNext.Application;
@using Microsoft.VisualBasic
@using System.Globalization
@using static eProcurementNext.CommonDB.Basic;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.DOCUMENT.print_documentModel;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.DOCUMENT.CommonModel;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.functions.securityModel;
@using static eProcurementNext.Razor.Pages.Report.prn_Ritira_Risposta_ConcorsoModel;
@using static eProcurementNext.Session.SessionMiddleware;
@model eProcurementNext.Razor.Pages.Report.prn_Ritira_Risposta_ConcorsoModel
@{
	CommonDbFunctions cdf = new();
	LoadSession(HttpContext, session);
	EprocResponse htmlToReturn = new();
	var sqlParams = new Dictionary<string, object?>();
	objDoc = PrintDocument(session, htmlToReturn, HttpContext, Response, Request);//PrintDocument ok

	htmlToReturn.Write($@"
	<!DOCTYPE html PUBLIC ""-//W3C//DTD XHTML 1.0 Strict//EN"" ""http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"">
	<html>
	<head>

		<meta http-equiv=""Content-Type"" content=""text/html; charset=utf-8"">
		<title>" + "Ritiro Offerta" + $@"</title>


	</head>
	<body>

	<style type=""text/css"">
		BODY,DIV ,TABLE, TD {{
		 font-family:'Arial','Times New Roman',serif;
		 font-size:14pt;
		 font-style:normal;
		 font-weight:normal


		}}
		.Input
		{{
		 font-family:'Arial','Times New Roman',serif;
		 font-size:14pt;
		 font-style:normal;
		 font-weight:bold

		}}

		.TITLE{{
		 font-family:'Arial','Times New Roman',serif;
		 font-size:14pt;
		 font-style: bold;
		 font-weight:bold

		}}



		@media print
		  {{
		  #Ricevuta {{}}
		  }}

		  @media screen
		  {{
		  #Ricevuta {{}}
		  }}

		 ul li, table ul li {{ list-style-type:none; }}

		.size1
		{{
			FONT-SIZE: 14pt;
			FONT-FAMILY: Arial
		}}

	</style>

		 <div style=""text-align: center; "">

			<center>");


	//'-- DISEGNO PRIMA PAGINA

	htmlToReturn.Write($@"<table border=""0"" style=""width: 800px; height: 1300px;"">");
	Header();
	htmlToReturn.Write($@"<tr>
						<td height=""100%"" align=""top"" valign=""top"">

						<br/><br/>
								<table border=""0""  width=""100%""  >
									<tr>
										<td width=""55%"">&nbsp;</td>
										<td align=""left"" ><b><font class=""size1"">
											Spett.le</b><br>"
							);
	MYDOC_PubLegale(DOC_Field("TESTATA", "Destinatario_Azi"));
	htmlToReturn.Write($@"<br>
											<b>c.a.</b>" + getRupGara() + $@"(R.U.P.)
											</font>
										</td>
									</tr>
								</table>

							<br/><br/>

							<table border=""0""  width=""100%""  >
								<tr>

									<td style=""text-align : justify"" ><font class=""size1"">
										<b><u>OGGETTO</u></b>:" + DOC_Field("TESTATA", "DescrizioneEstesa") + $@"N." + DOC_Field("TESTATA", "ProtocolloBando") + $@"- CIG" + DOC_Field("TESTATA", "CIG") + $@" - Ritiro Risposta Concorso n. " + DOC_Field("TESTATA", "ProtocolloOfferta") +

																$@"</font>
									</td>
								</tr>
							</table>

							<br/>
							<table border=""0""  width=""100%""  >
								<tr>

									<td style=""text-align : justify"" ><font class=""size1"">
										Il sottoscritto" + DOC_Field("TESTATA", "NomeUtente") + $@",
										in qualità di" + DOC_Field("TESTATA", "RuoloUtente") + $@"della Società" + getAziRagioneSociale() + $@"partecipante alla gara n."
	+ DOC_Field("TESTATA", "ProtocolloBando") + $@".

										</font>
									</td>
								</tr>
							</table>

							<br/>
								<h2  style=""text-align:center"" >CHIEDE</h2>
							<br/>

							<table border=""0""  width=""100%""  >
								<tr>

									<td style=""text-align : justify"" >
                                        <font class=""size1"">
										      Il ritiro della risposta concorso in oggetto, consapevole che, pertanto, la stessa non sarà aperta e rimarrà non accessibile.
										</font>
									</td>
								</tr>
							</table>
							<br/>
							<!--RIMOSSA LA MOTIVAZIONE DIETRO INDICAZIONE-->
							<br/><br/><br/><br/>

							<table width=""100%"">

									<tr>
										<td align=""left"">

										</td>
										<td align=""right"">");



	string param_mostra_nome = CStr(Get_Func_Property("prn_Ritira_Risposta_Concorso.ASP", "NomeUtente", "HIDE", "0", CInt("-1")));
	if ((param_mostra_nome.ToUpper()) == "0")
	{
		htmlToReturn.Write(DOC_Field("TESTATA", "NomeUtente") + $@"<br/>");
	}

	htmlToReturn.Write($@"Firmato digitalmente
									</td>
									</tr>

							</table>

						</td>
					</tr>");


	//'--PIE DI PAGINA
	footer();


	htmlToReturn.Write($@"</center>
		</table>
	</div>
	</body>
	</html>");
	void Header()
	{
		htmlToReturn.Write($@"<br/><br/>");
		//'--response.Write "<tr><td align=""center"" valign=""top"" ><img height=""50"" src=""logo.jpg""></td></tr>"

		string imgHeader = ApplicationCommon.CNV("HEADER_STAMPE");

		if (imgHeader.Contains("???", StringComparison.Ordinal))
		{
			htmlToReturn.Write($@"<tr><td align=""center"" valign=""top"" ><img height=""50px"" src=""logo_new.gif"" border=""0"" alt=""" + ApplicationCommon.CNV("ALT LOGO") + $@"""/></td></tr>");
		}
		else
		{
			htmlToReturn.Write(imgHeader);
		}
		//'--response.Write "<tr><td align=""center"" class=""TITLE"">" & Application("NOMEPORTALE") & "</td></tr><tr>"
		htmlToReturn.Write($@"<tr><td align=""center"" valign=""top"">" + ApplicationCommon.CNV(CStr(Get_Func_Property("prn_Ritira_Offerta.ASP", "Header_Stampa", "KEY_MLG", "HEADER_STAMPA_BUSTA_OFFERTA", CInt("-1")))) + $@"</td></tr>");
	}


	//'------------------------------------------------------------------------------
	//'-- funzione per disegnare il pie pagina
	//'------------------------------------------------------------------------------
	void footer()
	{
		int NumPagCorrente = 0;
		NumPagCorrente = NumPagCorrente + 1;

		htmlToReturn.Write($@"
		<tr><td valign=""bottom"" height=""5px"" >
		<table width=""100%"" height=""5px"" style=""vertical-align: bottom; bottom: 0px"">
			<tr><td align=""left"" ><b></b></td></tr><tr>
				<td style=""border-bottom: 1px solid black;border-top: 1px solid black;""  valign=""bottom""  align=""right"" >

		                Pagina: " + NumPagCorrente + $@"
		            </td>
		        </tr>
		    </table>
		    </td></tr>");
	}

	string getAziRagioneSociale()
	{
		string ret = string.Empty;
		sqlParams.Clear();
		sqlParams.Add("@id", CInt(GetParamURL(Request.QueryString.ToString(), "IDDOC")));
		TSRecordSet? rs = cdf.GetRSReadFromQuery_("select case when ISNULL(value,'')='' then aziragionesociale else value end as denominazione, Azienda as idazisedelegale from CTL_DOC with(nolock) left join CTL_DOC_Value on IdHeader=LinkedDoc and DSE_ID='TESTATA_RTI' and DZT_Name='DenominazioneATI' left join Aziende on IdAzi=Azienda where Id=@id", ApplicationCommon.Application.ConnectionString, sqlParams);
		if (rs is not null && rs.RecordCount > 0)
		{
			rs.MoveFirst();
			ret = CStr(rs["denominazione"]) + ", avente sede legale in " + GetSedeLegale(CInt(rs["idazisedelegale"]!)) + ",";
		}
		return ret;
	}

	string getRupGara()
	{
		string ret = string.Empty;

		//Recupero i dati solo se i dati devono essere in chiaro
		string flagAnonimato = GetFlagAnonimato();

		if (flagAnonimato != "0")
		{
			sqlParams.Clear();
			sqlParams.Add("@id", CInt(GetParamURL(Request.QueryString.ToString(), "IDDOC")));
			string strSql = @" select pfuNome as userrup
								from CTL_DOC c with(nolock)
									inner join CTL_DOC c1 with(nolock) on c1.Id=c.LinkedDoc
									inner join CTL_DOC c2 with(nolock) on c2.Id=c1.LinkedDoc
									inner join CTL_DOC_Value with(nolock) on IdHeader=c2.Id and DSE_ID='InfoTec_comune' and DZT_Name='UserRUP'
									inner join ProfiliUtente P on p.IdPfu=value
								where c.Id=@id";
			TSRecordSet? rs1 = cdf.GetRSReadFromQuery_(strSql, ApplicationCommon.Application.ConnectionString, sqlParams);
			if (rs1 is not null && rs1.RecordCount > 0)
			{
				rs1.MoveFirst();
				ret = CStr(rs1["userrup"]);
			}
		}
		return ret;
	}

	string GetSedeLegale(int idazi)
	{
		string ret = string.Empty;
		sqlParams.Clear();
		sqlParams.Add("@id", idazi);
		TSRecordSet? rs2 = cdf.GetRSReadFromQuery_("Select aziLocalitaLeg from Aziende where IdAzi=@id", ApplicationCommon.Application.ConnectionString, sqlParams);
		if (rs2 is not null && rs2.RecordCount > 0)
		{
			ret = CStr(rs2["aziLocalitaLeg"]);
		}
		return ret;
	}

	void MYDOC_PubLegale(string idAzi)
	{
		string strTechValue = idAzi;

		sqlParams.Clear();
		sqlParams.Add("@id", CLng(strTechValue));

		TSRecordSet? rsAzi = cdf.GetRSReadFromQuery_("select * from Aziende left join DM_Attributi on lnk=IdAzi and idApp = 1 and dztnome = 'codicefiscale' where IdAzi = @id", ApplicationCommon.Application.ConnectionString, sqlParams);

		if (rsAzi is not null && rsAzi.RecordCount > 0)
		{
			htmlToReturn.Write($@"<div id=""PUBLEG"" >
			<table border=""0"" cellspacing=""0"" cellpadding=""0"" class=""FldPubLeg_Tab"" >

				<tr>
				  <td ><b>" + CStr(rsAzi["aziRagioneSociale"]) + $@"(S.A.)</b></td>
				</tr>


				<tr>
				  <td>" + CStr(rsAzi["aziIndirizzoLeg"]) + $@"</td>
				</tr>
				<tr>
					<td>" + CStr(rsAzi["aziCAPLeg"]) + $@"&nbsp;"
				+ CStr(rsAzi["aziLocalitaLeg"]) + $@"&nbsp;(" + CStr(rsAzi["aziProvinciaLeg"]) + $@") -" + CStr(rsAzi["aziStatoLeg"]) + $@"</td>
				</tr>

				<tr>
				  <td >Tel" + CStr(rsAzi["aziTelefono1"]) + $@"</td>
				</tr>
				<tr>
				  <td >Fax" + CStr(rsAzi["aziFAX"]) + $@"</td>
				</tr>
				<tr>
				  <td ><a href=""http://" + CStr(rsAzi["aziSitoWeb"]) + $@""">" + CStr(rsAzi["aziSitoWeb"]) + $@"</a></td>
				</tr>

				<tr>
				  <td >C.F." + CStr(rsAzi["vatValore_FT"]) + $@"</td>
				</tr>


			</table>
			</div>");
		}
	}

	string GetFlagAnonimato()
	{
		string ret = string.Empty;
		sqlParams.Clear();
		sqlParams.Add("@id", CInt(GetParamURL(Request.QueryString.ToString(), "IDDOC")));
		TSRecordSet? rs7 = cdf.GetRSReadFromQuery_("select isnull(Value,'0') as flagAnonimato from CTL_DOC a with (nolock) left join CTL_DOC_VALUE b with (nolock) on a.LinkedDoc = b.idheader and DSE_ID = 'ANONIMATO' and dzt_name = 'DATI_IN_CHIARO' where id = @id", ApplicationCommon.Application.ConnectionString, sqlParams);
		if (rs7 is not null && rs7.RecordCount > 0)
		{
			rs7.MoveFirst();
			ret = CStr(rs7["flagAnonimato"]);
		}
		return ret;
	}

	try
	{
		FreeMemDocument(session);
	}
	catch
	{

	}
}@Html.Raw(htmlToReturn.Out())
