

@page "/HOME/main2.asp"

@*@using Microsoft.AspNetCore.Html
@using System.Web;*@

@*@model eProcurementNext.Razor.Pages.HOME.main2Model*@

@{
	


}

 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
                    <html xmlns="http://www.w3.org/1999/xhtml" lang="it" xml:lang="it">
	                    <head>
		                    <title>{CNV(title)}</title>
		                    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		                    <!-- Forziamo il disable della 'compatibilità' perchè crea problemi di visualizzazione -->
		                    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" /> <!--EDGE è per IE10+ -->
							
		                    



							<!-- Bootstrap CSS -->
							<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		

							<link rel="stylesheet" href="../CTL_Library/chat/chat.css?v=2022%2D01%2D11" type="text/css" media="screen,projection"/> 
							<link rel="stylesheet" href="../CTL_Library/Themes/main_base.css?v=2022%2D01%2D11" type="text/css" media="screen,projection"/> 
							<link rel="stylesheet" href="../CTL_Library/Themes/main.css?v=2022%2D01%2D11" type="text/css" media="screen,projection"/> 
							<link rel="stylesheet" href="../CTL_Library/Themes/main_stampa.css?v=2022%2D01%2D11" type="text/css" media="print"  />

							<!-- CSS per nuovo Template -->
							<link rel="stylesheet" href="../CTL_Library/Themes/nuovoTemplate.css" type="text/css" media="screen"/> 
							<!-- FINE CSS per nuovo Template -->

							<!-- CSS ArchitectUI per nuovo Template -->
							<link rel="stylesheet" href="../CTL_Library/Themes/main.87c0748b313a1dda75f5.css"/> 
							<!-- FINE CSS per nuovo Template -->

							<!-- Bootstrap JS -->
							<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

							<!-- ArchitectUI JS -->
							<script src="../CTL_Library/JScript/main.87c0748b313a1dda75f5.js" type="text/javascript"></script>

							<!-- FontAwesome -->
							<script src="https://kit.fontawesome.com/b172d07426.js" crossorigin="anonymous"></script>

							
							@await Component.InvokeAsync("Headers")

							@*@if CALENDAR*@

						@*@Html.Raw(String.Format("<link rel='stylesheet' href='{0}jscript/jquery/jquery-ui.css?v={1}' />", @Model.path_root, @Model.versioneAflink));  *@ 
						@*@Html.Raw(String.Format("<link rel='icon' href='{0}favicon.ico?v={1}' />",  @Model.path_root, @Model.versioneAflink));	

						@Html.Raw(@String.Format("<script src='{0}CTL_Library/JScript/checkbrowser.js?v={1}' type=ìtext/javascript'></script>", @Model.path_root, @Model.versioneAflink));
		                @Html.Raw(@String.Format("<script src='{0}CTL_Library/JScript/getObj.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));	
		                @Html.Raw(@String.Format("<script src='{0}CTL_Library/JScript/setClassName.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		                @Html.Raw(@String.Format("<script src='{0}CTL_Library/JScript/Grid/LockedGrid.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		                @Html.Raw(@String.Format("<script src='{0}CTL_Library/jscript/Grid/GetIdSelectedRow.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		                @Html.Raw(@String.Format("<script src='{0}CTL_Library/jscript/PROPERTYSELECTOR/PropertySelector.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		                @Html.Raw(@String.Format("<script src='{0}CTL_Library/jscript/GetPosition.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		                @Html.Raw(@String.Format("<script src='{0}CTL_Library/jscript/Grid/Grid.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		                @Html.Raw(@String.Format("<script src='{0}CTL_Library/jscript/Grid/GetIdRow.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));

		                @Html.Raw(@String.Format("<script src='{0}CTL_Library/jscript/ExecFunction.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		                @Html.Raw(@String.Format("<script src='{0}CTL_Library/jscript/OpenCloseSubMenu.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		                @Html.Raw(@String.Format("<script src='{0}CTL_Library/jscript/toolbar/toolbar.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		                @Html.Raw(@String.Format("<script src='{0}CTL_Library/jscript/DOCUMENT/document.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		                @Html.Raw(@String.Format("<script src='{0}CTL_Library/jscript/DOCUMENT/sec_Dettagli.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		                @Html.Raw(@String.Format("<script src='{0}CTL_Library/jscript/DOCUMENT/Sec_Dettagli_AddRow.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));

		                @Html.Raw(@String.Format("<script src='{0}CTL_LIBRARY/JScript/FIELD/ck_Attach.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		                @Html.Raw(@String.Format("<script src='{0}CTL_LIBRARY/JScript/FIELD/ck_mail.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		                @Html.Raw(@String.Format("<script src='{0}CTL_LIBRARY/JScript/FIELD/ck_Quiz.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		                @Html.Raw(@String.Format("<script src='{0}CTL_LIBRARY/JScript/FIELD/ck_Text.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		                @Html.Raw(@String.Format("<script src='{0}CTL_LIBRARY/JScript/FIELD/ck_TextArea.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		                @Html.Raw(@String.Format("<script src='{0}CTL_LIBRARY/JScript/FIELD/ck_VD.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		                @Html.Raw(@String.Format("<script src='{0}CTL_LIBRARY/JScript/FIELD/ck_VN.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		                @Html.Raw(@String.Format("<script src='{0}CTL_LIBRARY/JScript/FIELD/ExtendedAttrib.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		                @Html.Raw(@String.Format("<script src='{0}CTL_LIBRARY/JScript/FIELD/FldDom.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		                @Html.Raw(@String.Format("<script src='{0}CTL_LIBRARY/JScript/FIELD/FldExtDom.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		                @Html.Raw(@String.Format("<script src='{0}CTL_LIBRARY/JScript/FIELD/FldHierarchy.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		                @Html.Raw(@String.Format("<script src='{0}CTL_LIBRARY/JScript/FIELD/SearchDocumentForExtendeAttrib.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		                @Html.Raw(@String.Format("<script src='{0}CTL_LIBRARY/JScript/FIELD/UpdateFieldVisual.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		                @Html.Raw(@String.Format("<script src='{0}CTL_Library/JScript/replaceExtended.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));

		                @Html.Raw(@String.Format("<script src='{0}CTL_LIBRARY/jscript/jquery/js/jquery-3.6.0.min.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		                @Html.Raw(@String.Format("<script src='{0}CTL_LIBRARY/jscript/jquery/js/jquery-ui.min.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		
		                @Html.Raw(@String.Format("<script src='{0}CTL_LIBRARY/jscript/jquery.rte.AFS.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		
		                @Html.Raw(@String.Format("<script src='{0}CTL_Library/JScript/setVisibility.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		                @Html.Raw(@String.Format("<script src='{0}DASHBOARD/jsapp/ViewerDel.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		                @Html.Raw(@String.Format("<script src='{0}DASHBOARD/jsapp/ViewerUpd.js?v={1}' type='text/javascript''></script>",@Model.path_root, @Model.versioneAflink));
                        @Html.Raw(@String.Format("<script src='{0}DASHBOARD/jsapp/ViewerDelConfirm.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
                        @Html.Raw(@String.Format("<script src='{0}DASHBOARD/jsapp/Dash_ExecProcess.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		                @Html.Raw(@String.Format("<script src='{0}DASHBOARD/jsapp/ViewerPrint.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		                @Html.Raw(@String.Format("<script src='{0}DASHBOARD/jsapp/ViewerFilter.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		                @Html.Raw(@String.Format("<script src='{0}DASHBOARD/jsapp/DashBoardOpenFunc.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		                @Html.Raw(@String.Format("<script src='{0}DASHBOARD/jsapp/ViewerExcel.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		                @Html.Raw(@String.Format("<script src='{0}DASHBOARD/jsapp/ViewerGrigliaXml.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		                @Html.Raw(@String.Format("<script src='{0}DASHBOARD/jsapp/CubeGrid.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		                @Html.Raw(@String.Format("<script src='{0}DASHBOARD/jsapp/Dash_DocCopy.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		                @Html.Raw(@String.Format("<script src='{0}CTL_LIBRARY/jscript/DOCUMENT/Print.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		                @Html.Raw(@String.Format("<script src='{0}CTL_LIBRARY/jscript/ScrollPage/ScrollPage.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		
    		
		                @Html.Raw(@String.Format("<script src='{0}CTL_Library/JScript/main.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));
		
                        @Html.Raw(@String.Format("<script src='{0}CTL_Library/Chat/chat.js?v={1}' type='text/javascript'></script>",@Model.path_root, @Model.versioneAflink));*@

						@* <script type="text/javascript">

			            /* Variabili globali */
			            var singleWin = '@Model.application["SINGLEWIN"]';
			            var ApplicationAccessible = '@Model.application["ACCESSIBLE"]';
			            var pathRoot = '@Model.path_root';
			            var dDateStart = new Date();
			            var BrowseInPage = 1;
			            var LoadFromFrame = '@Model.application["LoadFromFrame"].ToString().ToUpper()';
			            var urlPortale = '/@Model.application["NOMEAPPLICAZIONE"].ToString().ToLower()';
			            var urlLogoutIAM = '@Model.logoutIAM';
			            var layout= 'WebUtility.HtmlEncode(@Request.Query["lo"].ToString().Replace("'", "\'"))';
			            var idpfuUtenteCollegato = @Model.idPfu;
			            var idaziAziendaCollegata = @Model.idAzi;
			            var start = +new Date(),diff,minutes,seconds;
			            var minAvvisoSessione = @Model.application["AVVISO_SESSIONE_MINUTI"] - 1; 
			
			            var avvisaSessione = true;
			            var continuaConteggio = true;
						@Model.FaseDiTest
						</script>*@
						</head>
						<body>
							<div id="GOTOP" class="backtop" onclick="GoTop()"  style="display:none" ><img src="../ctl_library/images/general/top.png" alt="Vai inizio pagina" height="42" width="42"></div>		

						<!-- INIZIO NUOVO CODICE ARCHITECTUI -->
	<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
		<!-- header -->
		<div class="app-header header-shadow">
			<div class="app-header__logo">
				<div class="logo-src" id="main_top_left_div">
					<a href="http://www.regione.emilia-romagna.it">
						<img alt="logo" src="../images/logo-er.png"/>
					</a>					
				</div>
				<div class="header__pane ml-auto">
					<div>
						<button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
							<span class="hamburger-box">
								<span class="hamburger-inner"></span>
							</span>
						</button>
					</div>
				</div>
			</div>
			<div class="app-header__mobile-menu">
				<div>
					<button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</div>
			</div>
			<div class="app-header__menu">
				<span>
					<button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
						<span class="btn-icon-wrapper">
							<i class="fa fa-ellipsis-v fa-w-6"></i>
						</span>
					</button>
				</span>
			</div>
			<div class="app-header__content">
				<div class="app-header-left">
					<h5 id="portal-logo">
						<a href="http://www.afsoluzioni.it" accesskey="1">AFSoluzioni</a>
					</h5>
					<a href="http://www.regione.emilia-romagna.it" class="pl-3 pr-3">
						<img src="../images/rer.png" alt="La Regione Emilia-Romagna"/>
					</a>
					<p  class="numeroVerde"><i class="fa fa-fw pr-3" aria-hidden="true" title="Copy to use phone"></i>Numero Verde 800 000 000</p>
				</div>
				<div class="app-header-right" id="main_top_right_div">
					<div class="header-btn-lg pr-0">
						<div class="widget-content p-0">
							<div class="widget-content-wrapper">
								<div class="widget-content-left">
									<div class="btn-group">
										<a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
											<img width="42" src="assets/images/avatars/8.jpg" alt="">
											<i class="fa fa-angle-down ml-2 opacity-8"></i>
										</a>
										<div tabindex="-1" role="menu" aria-hidden="true" class="rm-pointers dropdown-menu-lg dropdown-menu dropdown-menu-right">
											<div class="dropdown-menu-header">
												<div class="dropdown-menu-header-inner bg-danger">
													<div class="menu-header-image opacity-2" style="background-image: url('assets/images/dropdown-header/city3.jpg');"></div>
													<div class="menu-header-content text-left">
														<div class="widget-content p-0">
															<div class="widget-content-wrapper">
																<div class="widget-content-left mr-3">
																	<img width="42" class="rounded-circle" src="assets/images/avatars/8.jpg" alt="">
																</div>
																<div class="widget-content-left">
																	<div class="widget-heading li_main_top_element_UserName">Sabato Ferraro
																	</div>
																</div>
																<div class="widget-content-right mr-2 li_main_top_element_logout last">
																	<a href="#logout" onclick="logout();" class="link_logout btn-pill btn-shadow btn-shine btn btn-light"><strong>Logout</strong></a>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="scroll-area-xs" style="height: 150px;">
												<div class="scrollbar-container ps">
													<div id="main_top_toolbar">
														<ul class="nav flex-column" >
															<li class="nav-item-header nav-item">Attività:
															</li>
															<li class="nav-item">
																<a id="TOOLBAR_HOMELIGHT_CambioPassword" class="button_link nav-link"  onclick="Javascript:try{{ CloseAllSub( 'TOOLBAR_HOMELIGHT' ); }}catch(e){{}};NewDocumentAndReset( 'CHANGE_PWD');return false;"  href="#" title="Cambio Password#200">Cambio Password</a>
															</li>
															<li class="nav-item">
																<a id="TOOLBAR_HOMELIGHT_Anagrafica" class="button_link nav-link"  onclick="Javascript:try{{ CloseAllSub( 'TOOLBAR_HOMELIGHT' ); }}catch(e){{}};ShowDocumentAndReset( 'SCHEDA_ANAGRAFICA','&lt;ID_AZI&gt;');return false;"  href="#" title="Anagrafica">Anagrafica</a>
															</li>
															<li class=""last nav-item"">
															<a id="TOOLBAR_HOMELIGHT_Utente" class="button_link nav-link"  onclick="Javascript:try{{ CloseAllSub( 'TOOLBAR_HOMELIGHT' ); }}catch(e){{}};ShowDocumentAndReset( 'USER_DOC_READONLY','&lt;ID_USER&gt;');return false;"  href="#" title="Utente">Utente</a></li>
														</ul>
														<script type="text/javascript">
														var TOOLBAR_HOMELIGHT_subMenu = new Array( 0 );
														var TOOLBAR_HOMELIGHT_subMenuNum = 0;
														var TOOLBAR_HOMELIGHT_OnMenu='';
														var TOOLBAR_HOMELIGHT_OnSubMenu='';
														var TOOLBAR_HOMELIGHT_TraceMenu='';
														</script>
													</div>
												</div>
											</div>
											
											
											
										</div>
									</div>
								</div>
								<div class="widget-content-left  ml-3 header-user-info">
									<div class="widget-heading li_main_top_element_Title pb-1">
										Piattaforma SVILUPPO 3.X
									</div>
									<div class="widget-subheading li_main_top_element_UserName pb-1">
										<strong>Utente: </strong>Sabato Ferraro
									</div>
									<div class="widget-subheading li_main_top_element_RagSociale">
										<strong>Azienda: </strong>Agenzia Intercent-ER
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- content -->
		<div class="app-main">
			<!-- inizio menu -->

			<div class="app-sidebar sidebar-shadow">
				<div class="app-header__logo">
                    <div class="logo-src"></div>
                    <div class="header__pane ml-auto">
                        <div>
                            <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-header__mobile-menu">
                    <div>
                        <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="app-header__menu">
                    <span>
                        <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                            <span class="btn-icon-wrapper">
                                <i class="fa fa-ellipsis-v fa-w-6" aria-hidden="true"></i>
                            </span>
                        </button>
                    </span>
                </div>
				<div class="scrollbar-sidebar ps ps--active-y">
                    <div class="app-sidebar__inner">
                        <table class="TableLayout"> <tbody><tr>
            <td class="TdLeft">
			    <div class="left toolbar_head" id="main_middle_left_div">




@await Component.InvokeAsync("Menu")

</div>
</td>

			</tr></tbody>
						</table>
						
					</div>
				</div>
			</div>
			<!-- fine menu -->
			<div class="app-main__outer">
				<div class="app-main__inner">
				<div class="ts-card">
					<div class="ts-header-wrapper">
						<header class="ts-header ant-layout-header">
							<div class="ts-header-div">
								<div class="ts-header-left">
									<!--<div class="ts-header-arrow">
										<i class="ts-icon fontawe-icon-blue fab fa-arrow-left "></i>
									</div>-->
								</div>
								<div class="ts-header-center">
									<div class="ts-header-title">Centrale Acquisti</div>
									<div class="ts-header-description">
										<div class="ts-breadcrumb-title ant-breadcrumb">
											<span>
												<span class="ant-breadcrumb-link">
													<span class="ts-breadcrumb-item-href"><a href="http://www.regione.emilia-romagna.it">AFSoluzioni </a></span>
												</span>
												<span class="ant-breadcrumb-separator">
													<i class="ts-icon fontawe-icon fas fa-caret-right"></i>
												</span>
											</span>
											<span>
												<span class="ant-breadcrumb-link">
													<span><a href="../ctl_library/path.asp?url=Home%2FHomeAfs%2Easp&amp;KEY=main" onclick="try{{ShowWorkInProgress();}}catch(e){{}}" id="last_breadcrumb">Centrale acquisti</a></span>
												</span>
											</span>
										</div>
									</div>
								</div>
								<div class="ts-header-right ts-header-arrow"></div>
							</div>
						</header>
					</div>

					<table class="TableLayout">
						<tr>
							<td class="TdRight" id="td_content_right">
								<div class="right" id="contenutopagina">
									<table width="100%" class="Caption"  border="0" cellspacing="0" cellpadding="0"></table>
		
		<script type="text/javascript">
			document.cookie="openGroup=;";
		</script>
		
		<div id="access_div_splash_masterpage" class="access_div_splash_masterpage">
		</div>
		
		
								</div>
							</td>
						</tr>	
					</table>
				</div>
			</div>

				<!-- footer -->
				<partial name="_footer" >

				</partial>

@*				<div class="app-wrapper-footer mt-5">
					<div class="bottom" id="main_bottom_div">
						<div class="Footer_00">
							<div class="left">
									<span class="span_footer_datetime">Ora Server:</span><span class="span_footer_datetime" id="DateTime"></span>
							</div>
			
							<div class="links_footer right">
								<ul>
									<li><a href="http://www.afsoluzioni.it/contatti">Contatti</a></li>
									<li><a href="http://ww.afsoluzioni.it">Informazioni sul sito</a></li>
									<li><a href="http://www.afsoluzioni.it/note-legali">Note legali</a></li>
									<li><a href="http://www.afsoluzioni.it/privacy">Privacy</a></li>
								</ul>
							</div>
																  
							
							<div class="footer_right">
								Tempo stimato di sessione rimanente<br/><span id="tempo_di_sessione">59:00 m</span>
							</div>
							
			
						</div>
						
						
						<div class="Footer_01">
			
							<div class="left">
							</div>
							<div class="right">
								 <p>AFSoluzioni Agenzia XXX per lo sviluppo dei mercati telematici (Cod. Fiscale 0000000000)</p>
											  <p>Via San Leonardo 120, 84100 Salerno &ndash; tel: 089 000000 / 089 111111 &ndash; fax: 089 2222222</p>
											  <p><a href="mailto:MAILTO@afsoluzioni.it">MAILTO@afsoluzioni.it</a>, <a href="mailto:MAILTO@afsoluzioni.it;">MAILTO@afsoluzioni.it</a></p>
			 <p>Per ogni eventuale informazione e/o chiarimento, contattare:<br> Il  <span style="color: green;">Numero Verde 800 000 000 da telefonia fissa nazionale</span>, il numero +39 089 000 da telefonia mobile e dall' estero oppure inviare una e-mail a: <a style="color: red;" href="mailto:s.ferraro@afsoluzioni.it">s.ferraro@afsoluzioni.it</a>  </p>
								 
							</div>
			
						</div>
						
						
						<div class="Footer_02">
							<div class="left">
							</div>
							<div class="right">
								 <p>AFSoluzioni (CF 000.000.000.00) - Via San Leonardo 120, 84100 Salerno - Centralino: 089.000 <br/>Ufficio Relazioni con il Pubblico: <a href=""mailto:info@afsoluzioni.it"">info@afsoluzioni.it</a>, <a href="mailto:info2@afsoluzioni.it">info2@afsoluzioni.it</a></p>
								
							</div>
						</div>
						
					</div>*@
				</div>
			</div>
			
		</div>

		<!-- DA CAPIRE A COSA SERVE <div id=""push""></div>-->
		
	</div>
	<!-- FINE NUOVO CODICE ARCHITECTUI -->
	
		<div class="INFO_BOX" id="INFO_PROCESS">
		</div>


		<div class="INFO_BOX2" id="INFO_PROCESS2">
			<table class="INFO_BOX_TB">
				<tr>
					<td colspan="3">
						&nbsp;
					</td>
				</tr>
				<tr>
					<td>
						&nbsp;
					</td>
					<td class="INFO_BOX_TD" valign="middle">
						<table class="INFO_BOX_WIN_TB">
							<tr>
								<td class="INFO_BOX_WIN_CAPTION">Attenzione</td>
							</tr>
							<tr>
								<td class="INFO_BOX_WIN_CELL">
									<img alt="clessidra" src="../images/grid/clessidra.gif"/>&nbsp;
									Elaborazione in corso
								</td>
							</tr>
						</table>
					</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
			</table>
		</div>

			<!--WriteScrollReposition-->
			

		<input  type="hidden" name="PATH_LEVEL_NAVIGATION" id="PATH_LEVEL_NAVIGATION" value="1" ><script type="text/javascript">SetLastScrollWindowOnLoad();</script>

		</body>
		</html>